#divProcessando {
    background: url(../images/rr-loading.gif) no-repeat center;
    background-color:rgba(248, 247, 247, 0.58);
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
